.ul-navbar {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ul-navbar li {
    padding: 8px 20px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    outline: none; }
    .ul-navbar li.active {
      color: #61B296; }
      .ul-navbar li.active:before {
        width: 100%; }
    .ul-navbar li:before {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 0;
      bottom: 0;
      left: 0;
      background: #61B296;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .ul-navbar li:hover:before {
      width: 100%; }
    .ul-navbar li p {
      margin-bottom: 0;
      font-size: 0.7em;
      text-space: 1px; }
