<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-accent text-white d-flex justify-content-center">
      <h2 class="align-self-center m-0">
        {{ 'Vita' | uppercase }}
        <span class="font-weight-normal">Track</span></h2>
    </div>
    <div class="col-10 bg-navbar text-white p-0">
      <ul class="d-flex ul-navbar">
        <li class="text-center" routerLinkActive="active" routerLink="dashboard">
          <i class="fas fa-home"></i>
          <p>Dashboard</p>
        </li>
        <li class="text-center" routerLinkActive="active" routerLink="analytics">
          <i class="fas fa-chart-line"></i>
          <p>Analytics</p>
        </li>
      </ul>
    </div>
  </div>
</div>
