<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Current</th>
          <th scope="col">Standard</th>
          <th scope="col">HB</th>
          <th scope="col">KPI1</th>
          <th scope="col">KPI2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Gandavum </td>
          <td>Cacula </td>
          <td>Genetrix </td>
          <td>Virundum </td>
          <td>Cella </td>
          <td>Secula </td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
