<div class="row py-3">
  <div class="col">
    <div class="display-4 text-center">Lista de tracks</div>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="btn btn-success mb-3 float-right" routerLink="/dashboard/tracks/new">
      Agregar track
      <i class="fas fa-plus-circle"></i>
    </button>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Current</th>
          <th scope="col">Standard</th>
          <th scope="col">HB</th>
          <th scope="col">KPI1</th>
          <th scope="col">KPI2</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of objTracks | keysFirebase; let idx = index">
          <th>{{ idx + 1 }}</th>
          <td>{{ objTracks[i].name }}</td>
          <td>{{ objTracks[i].date | date: 'short'}}</td>
          <td>{{ objTracks[i].current }}</td>
          <td>{{ objTracks[i].standard }}</td>
          <td>{{ objTracks[i].hb }}</td>
          <td>{{ objTracks[i].kpi1 }}</td>
          <td>{{ objTracks[i].kpi2 }}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-primary" routerLink="/dashboard/tracks/{{ i }}/update">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="removeTrack(i)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
