<div class="container">
  <div class="row py-3">
    <div class="col">
      <div class="display-4 text-center">Creacion de un track</div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="save()" novalidate>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inputName">Name:</label>
              <input type="text" class="form-control"
                     [ngClass]="{
                     'is-valid': form.controls['name'].valid && form.controls['name'].touched,
                     'is-invalid': form.controls['name'].invalid && form.controls['name'].touched
                     }"
                     id="inputName" placeholder="Name" formControlName="name">
              <small *ngIf="form.controls['name'].errors?.required && form.controls['name'].touched" class="invalid-feedback">
                * El campo es obligatorio
              </small>
              <small *ngIf="form.controls['name'].errors?.minlength && form.controls['name'].touched" class="invalid-feedback">
                La longitud minima es de {{ form.controls['name'].errors?.minlength.requiredLength }}
              </small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inputDate">Date:</label>
              <input type="date" class="form-control"
                     [ngClass]="{
                     'is-valid': form.controls['date'].valid && form.controls['date'].touched,
                     'is-invalid': form.controls['date'].invalid && form.controls['date'].touched
                     }"
                     id="inputDate" placeholder="01/01/2018" formControlName="date">
              <small *ngIf="form.controls['date'].errors?.required && form.controls['date'].touched" class="invalid-feedback">
                * El campo es obligatorio
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inputCurrent">Current:</label>
              <input type="number" class="form-control"
                     [ngClass]="{
                     'is-valid': form.controls['current'].valid && form.controls['current'].touched,
                     'is-invalid': form.controls['current'].invalid && form.controls['current'].touched
                     }"
                     id="inputCurrent" placeholder="15.1" formControlName="current">
              <small *ngIf="form.controls['current'].errors?.required && form.controls['current'].touched" class="invalid-feedback">
                * El campo es obligatorio
              </small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inputStandard">Standard:</label>
              <input type="number" class="form-control"
                     [ngClass]="{
                     'is-valid': form.controls['standard'].valid && form.controls['standard'].touched,
                     'is-invalid': form.controls['standard'].invalid && form.controls['standard'].touched
                     }"
                     id="inputStandard" placeholder="15" formControlName="standard">
              <small *ngIf="form.controls['standard'].errors?.required && form.controls['standard'].touched" class="invalid-feedback">
                * El campo es obligatorio
              </small>
            </div>
          </div>
          <div class="col">
            <label for="inputHb">HB:</label>
            <select class="custom-select"
                    [ngClass]="{
                     'is-valid': form.controls['hb'].valid && form.controls['hb'].touched,
                     'is-invalid': form.controls['hb'].invalid && form.controls['hb'].touched
                     }"
                    id="inputHb" formControlName="hb">
              <option value="null">Elige una opcion</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <small *ngIf="form.controls['hb'].errors?.required && form.controls['hb'].touched" class="invalid-feedback">
              * El campo es obligatorio
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="inputKPI1">KPI1:</label>
              <input type="number" class="form-control"
                     [ngClass]="{
                     'is-valid': form.controls['kpi1'].valid && form.controls['kpi1'].touched,
                     'is-invalid': form.controls['kpi1'].invalid && form.controls['kpi1'].touched
                     }"
                     id="inputKPI1" placeholder="1.8" formControlName="kpi1">
              <small *ngIf="form.controls['kpi1'].errors?.required && form.controls['kpi1'].touched" class="invalid-feedback">
                * El campo es obligatorio
              </small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="inputKPI2">KPI2:</label>
              <input type="number" class="form-control"
                     [ngClass]="{
                     'is-valid': form.controls['kpi2'].valid && form.controls['kpi2'].touched,
                     'is-invalid': form.controls['kpi2'].invalid && form.controls['kpi2'].touched
                     }"
                     id="inputKPI2" placeholder="0.01" formControlName="kpi2">
              <small *ngIf="form.controls['kpi2'].errors?.required && form.controls['kpi2'].touched" class="invalid-feedback">
                * El campo es obligatorio
              </small>
            </div>
          </div>
        </div>
        <button class="btn btn-primary float-left" routerLink="/dashboard/tracks">
          <i class="fas fa-arrow-left"></i>
          Regresar
        </button>
        <button class="btn btn-success float-right" [disabled]="form.invalid" >
          Guardar
          <i class="fas fa-save"></i>
        </button>
      </form>
    </div>
  </div>
</div>
